<h1 class="lcars-center">Environmental Controls</h1>

<h2>External Environment</h2>
<div class="lcars-center">
    <div ng-if="weather.status">
        {{weather.status}}
    </div>
    
    <table class="lcars-table">
        <tr>
            <th ng-repeat="day in weather">
                {{day['date']['weekday']}}
            </th>
        </tr>

        <tr>
            <td ng-repeat="day in weather">
                <img ng-src="{{day['icon_url']}}" /><br/>
                <ul class="no-list-image">
                    <li>Temp: {{day['high']['celsius']}} / {{day['low']['celsius']}}</li>
                    <li>Humidity: {{day['avehumidity']}}</li>
                    <li>Precipitation: {{day['pop']}}% at {{day['qpf_allday']['mm']}} mm</li>
                    <li>Wind Speed: {{day['avewind']['dir']}} {{day['avewind']['kph']}} kph</li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<h2>Internal Environment</h2>
<div class="lcars-center">
    Internal Environment Coming Soon
</div>